#feedback-card{
    height: 450px;
    overflow-y: auto; /*So when want scrollbar if crosses max-height if not crosses then no scrollbar*/

}

.no-hover.card:hover{
    background-color: #fff;
    color: #333;
}