@media(max-width:768px) { /*mobile*/
    html{
        width: 100%;
    }
    
    #home-section-left-part{
        border: none;
        position: absolute;
        margin: 0;
        padding: 0;
    }    
    #desktop-services{
        display: none;
    }
    .work-with-me{
        display: none;
    }
    .my-qualifs{
        font-size: 1.3rem!important;
        text-align: center;
        margin-top: 100px;
        left: 20%;
        bottom: 10%;
    }
    /* Chalo */
    .mobile-home{
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .coding-image{
        background: url(../coding-wallpaper2.jpg) no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        opacity: 0.4;
    }

    #home{
        display: none;
    }
    .coding-image img{

    }
    .aryan-image{
        /* width: 100%;
        height: 70%; */
        margin: 0 auto;
        margin-left: 20%;
        margin-right: 20%;
        padding: 0;
        /* position: absolute;
        top: 0;
        left: 0; */
        opacity: 1;
    }
    #mobile-skills-text{
        opacity: 1;
        z-index: 9999;
        text-align: center;
        /* font-size: 1.5rem; */
       
    }

    .nav{
        flex-wrap: nowrap;
    }
    .r-tabs-state-active{
        /* display: none; */
    }

    #my-skills-tabs>ul>li{
        display: none;
    }
    #social{
        overflow-y: hidden;
    }
    .aryan-image{
        margin-top: 10%;
    }

    #mobile-skills-text{
        position: absolute;
        z-index: 5;
    }

    #mobile-icon{
        /* overflow-y: hidden; */
    }

    .btn-back-to-top{
        display: none;
        opacity: 0;
    }
    body{
        overflow-x: hidden;
    }
    .border-gradiet-bottom{
        margin-top: 64px;
    }
    .chars{
        transform: scale(.8);
    }

    #download-cv-btn{
        margin-left: 20%;
        margin-right: 20%;
    }

    .about-me-text-headline{
        text-align: center;
    }
    /* End */
}
@media(min-width:768px) {
    #mobile-home{
        display: none;
    }
}