/*
.colored-text{
    color: #c04848;
}
.btn-gradient{
    background-image: linear-gradient(to right, #c04848 0%, #480048 51%, #c04848 100%);
}
*/
.btn-general.btn-gradient{
    color: #FFF;
    background-size: 200%;
        background-image: linear-gradient(to right, #c04848 0%, #480048 51%, #c04848 100%);
}