* {
    box-sizing: border-box;
    font-family: Josefin Sans, sans-serif
}

.main-content{
    display: none;
}

.row{
    width: 100%;
    margin: 0;
}

/* Some helpers */
.d-none {
    display: none
}

.no-gutter {
    margin-right: 0!important;
    margin-left: 0!important
}

.no-padding {
    padding: 0!important
}

.primary-color{
    color: #0061ffff;
}

.headline{
    /* font-family: Roboto Slab, serif; */
    font-weight: 500;
}

/* html{
    height: 100vh;
    width: 100vw;
} */

/* ==================== Setting the scrollbar ========================= */
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fafafa;
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    border-radius: 5px
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff)
}

/* End setting scrollbar */

::-moz-selection {
    color: #fff;
    background: #4257BD;
}

::selection {
    color: #fff;
    background-color: #4257BD
}

/* Navbar */

.header {
    /* position: -webkit-sticky; */
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
    transition: all .45s ease-in-out;
    /* border-bottom: solid 0.8px #78e4ff; */
}

.blue-header{
    background: #4257BD;
    color: #fff;
}

#header .col-md-3{
    padding: 10px;
}

.menu-item-link {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    transition: color .25s ease-in-out
}

.color-white{
    color: #fff;
}
.color-white:hover{
    color: #fff;
    /* text-decoration: underline; */
    border-bottom: 1px solid #fff;
    /* border-right-style: 10px; */
}

.border-gradiet-bottom{
    background: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
    width: 100%;
    height: 3px;
    position: fixed;
    margin-top: 70px;
    z-index: 100;
    /* box-shadow: 5px 5px 10px #78e4ffff; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px; */
}



.menu-item-link.active, .menu-item-link:hover {
    color: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
    
    text-decoration: none
}

nav{
    display: block;
    width: 100%;
    /* background: red; */
}

.mobile-menu-list {
    list-style: none
}

.mobile-menu-list-item {
    border-top: 1px solid #fafafa
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0!important;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}


@media(max-width:768px) { /*mobile*/
    .menu-list {
        flex-direction: column;
    }
}

  @media(max-width:992px) { /*tab*/
    
  }


header .container{
    width: inherit;
    margin: 0;

}
.menu-content{
    width: 100vw;
    height: inherit;
}

#logoHome{
    display: inline;
    /* transform: scale(.3); */
    width: 50px;
    height: 50px;
    margin-left: 30%;
}
@media(max-width:768px) { /*mobile*/
    #logoHome{
        display: none;
    }
}

/* .blue-navbar{
    background-color: #4257BD;
}
.menu-item-link{
    color: #fff;
}
.menu-item-link:hover{
    color:#fff;
    text-decoration: underline;
} */

/* End navbar */

/* Copy */

/* .Copy end */

/* Background coding */
.coding-bg{
    background: url(../Mask\ Group\ 1.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    z-index: -99;
    /* position: fixed; */
    /* display: absolute; */
}

.img-color-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    height: inherit;
}

/* Mobile hangburger */
.mobile-menu {
    /* opacity: 0; */
    display: none;
    text-align: center;
    margin-top: 30px;
}

.mobile-menu-active {
    opacity: 1;
    display: block
}

.mobile-menu-list {
    list-style: none
}

.mobile-menu-list-item {
    border-top: 1px solid #fafafa
}

/*  */

.mobile-header-icon {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 19px;
    top: 25px;
    right: 30px
}

@media(min-width:768px) {
    .mobile-header-icon {
        top: 45px
    }
}

@media(min-width:992px) {
    .mobile-header-icon {
        display: none
    }
}

.mobile-header-icon:before {
    top: 0;
    transform-origin: 0 0;
    transition: transform .3s ease-out
}

.mobile-header-icon-bar, .mobile-header-icon:before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background-color:  #0061ffff;
}

.mobile-header-icon-bar {
    top: 8px;
    transform-origin: 0 50%;
    transition: all .3s ease-out
}

.mobile-header-icon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #0061ffff;
    transform-origin: 0 100%;
    transition: transform .3s ease-out
}

.mobile-header-icon-close:before {
    transform: rotate(45deg) scaleX(1.25)
}

.mobile-header-icon-close .mobile-header-icon-bar {
    transform: scaleX(0);
    opacity: 0
}

.mobile-header-icon-close:after {
    transform: rotate(-45deg) scaleX(1.25) translateY(1px)
}

@media(max-width:768px) { /*mobile*/
    #main-menu-list{
        display: none;
    }
    .border-gradiet-bottom{
        display: none;
    }
    /* .header{
        height: 0px;
    } */
}

/* Mobile hangburger end */

/* Home section */

.home-section{
    width: 100%;
    min-height: 100vh;
}

.left-blue-part{
    background: rgba(66,87,189,0.1) no-repeat center center;
    height: 100vh;
    /* transform: scale(1.5);
    overflow: hidden; */
    overflow: hidden;

}

.right-blue-part{
    border-top: 100vh solid rgba(66,87,189,0.1);
    border-right: 25vw solid transparent;
    overflow: hidden;
}

.coding-wallpaper{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    z-index: -999;
}

.main-right-part{
    z-index: 9;
}

/*Mobile home*/
.mobile-user-img{
    /* background: url(../court_pics/backupp/5-removebg-preview\ \(1\).png) no-repeat center center; */
    /* background: url(../linkdin_pic-removebg.png) no-repeat center center; */
    width: 100%;
    /* height: 144%; */
    height: 78%;
    position: absolute;
    /* top: -10px; */
    /* border: 20px solid rgba(0, 0, 0, 0.17); */
    border: 5px solid #3ca3ffff;
    border-radius: 100%;
    /* margin-left: -70px; */
    /* padding: 30px; */
    transform: scale(.5);
    /* border-radius: 50%; */
    /* margin-top: 20px; */
    /* padding-top: 40px; */
}

.mobile-aryan-image{
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.img-border {
    position: absolute;
    /* height: 400px;
    width: 400px; */
    height: 78%;
    width: 100%;
    /* border: 5px solid rgba(0, 0, 0, 0.07); */
    border: 10px solid #3ca3ffff;
    margin: 0 auto;
    border-radius: 100%;
    transform: scale(.6);

}

.img-container-mobile{
    width: 100%;
    /* height: 144%; */
    height: 100%;
}
/*End mobile home*/

/* Home section end */

/* Keval start */

.bg-1{
    height: 100vh;
    /* width: 100vw; */
    background: url(../coding-wallpaper2.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.bg-2{
    position: absolute;
    top: 0;
    right: 0;
    background:#fff;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    
    /* filter: blur(6px); */
  
}

.aryan-image{
    /* z-index: 999999;
    border-radius: 50%;
    transform: scale(0.8);
    padding: 40px;
    height: 50%;
    margin-top: 35%; */
    /* filter: drop-shadow(2px 4px 1px #0061ffff); */
    /* border-radius: 30px; */
    height: 100%;
    /* width: 70%; */
    /* margin-right: 10%; */
    /* margin-top: 45%; */
    transition: all .3s;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
/* .aryan-image:hover{
    transform: scale(1.1);
} */

.bg-3{
    border-top: 100vh solid transparent;
    border-right: 15vw solid transparent;
    height: 100vh;
    /* width: 70%; */
    /* position: absolute; */
}

.bg-4{
    /* position: absolute;
    top: 10px;
    left: 10px; */
    margin-top: -500px;
    /* padding: 65px; */
}

.overlay{
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh; 
    width: 100%;
}

.my-qualifs{
    margin-left: 10%;
    font-family: Josefin Sans,sans-serif;
    font-size: 2rem;

    /* background-color: #0bceaf; */
    /* font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px; */
}

.work-with-me{
    margin-top: 10%;
}
.thought{
    color: #0061ffff;
    margin-left: 1%;
}

#features{
    /* margin-left: 10%;
    margin-right: 29%; */
    margin-top: 5%;
}

.left-feature{
    margin-left: 5%;
}

/* .features p {
    font-size: .88rem;
    font-weight: 600
}

.features:hover .box, .features:hover .box:after, .features:hover .box:before {
    border-radius: 25%
} */

.box{
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    /* color: #0061ffff; */
    
}
/* Keval end */

#download-cv-btn,#submit-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#home-section-left-part{
    margin-left: 0 !important;
}

/* #Shape Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.shape-section {
    /* background: #222; */
    /* border-bottom: 2px solid #555; */
    /* border-top: 2px solid #555; */
    /* margin-top: 30px;
    padding: 40px 0; */
    margin-left: 57px;
    margin-top: 15px;
  }
  .diamond-shape {
    background: #fff;
    height: 90px;
    text-align: center;
    transform:rotate(45deg);
    width:90px;
    padding: 60px;
  }
  .item-count {
    color: #0061ffff;
    display: table-cell;
    height: 150px;
    transform: rotate(-45deg) translateY(-90px) translateX(15px);
    vertical-align: middle;
    width:160px;
  }

/* Social */
#social {
    /* display: flex; */
    /* justify-content: center; */
    z-index: 999;
    margin-bottom: 15px;
    /* margin-left: 29px; */
    text-align: center;
}

#social a {
    padding: 1rem
}

#social i {
    font-size: 1.5rem;
    background: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#social i:hover {
    transform: scale(1.2)
}

@media(min-width:768px) {
    #social i {
        font-size: 1.4rem
    }
}

@media(min-width:992px) {
    #social {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: block
    }
    #social a {
        display: block;
        margin: 0 auto;
        padding: 1rem
    }
    #social a i {
        font-size: 1.5rem
    }
}

/* Social end */

/* About me */
.btn{
    background: linear-gradient(to right, #78e4ffff 0%, #3ca3ffff 51%, #0061ffff 100%);
    /* linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
 */
    /* background: #0061ffff; */
    border-radius: 30px;
    color: #fff;
    padding: 10px 40px;    
    transition: all .5s;
}

.btn:active, .btn:focus, .btn:hover {
    background: linear-gradient(to left, #78e4ffff 0%, #3ca3ffff 51%, #0061ffff 100%);

    color: #fff;
    /* background: #aaa; */
    transform: translateY(5px);
}

.about-me-text{
    padding: 50px;
    text-align: justify;
}

.know-me-title{
    font-size: 2rem;
    text-align: center;
    margin: 0px;
}

.know-me-text{
    font-size: 0.9rem;
    text-align: center;
}

.highlight-heading{
    /* color: #000DFF; */
    /* color: #002BFF; */
    color: #4257BD;
}

.item{
    margin: 30px 0;
}

.know-me-container{
    /* margin-left: 10%;
    margin-right: 10%; */
}
.know-me-card{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
/* About me end */
/* Projects section start */
.custom-border {
    margin: 0 auto;
    padding: 2px;
    background: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
    background-size: 100% 20px;
    max-width: 130px;
}

.blue-container{
    background: #4257BD;
}
.blue-outer-container{
    background: #4257BD;

}
.nav-item a{
    color: #fff;
    margin: 10px;
    margin-bottom: 0px;
}

.box-container{
    padding: 10px;
    border: 2px solid #4257BD;
    max-height: 105vh;
    overflow-y: scroll;
}

.inner-box-container{
    border: 2px solid #4257BD;
    height: 100%;
    /* overflow-y: scroll; */

}

.circle {
    width: 7rem;
    height: 7rem;
    opacity: .3;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #4257BD
}

.circle .circle-filled {
    width: 5.5rem;
    height: 5.5rem;
    background: #4257BD;
    margin: auto;
    border-radius: 50%
}

/* Isha project */

.project {
    /* margin: 2% 1% 18% 3.2%; trbl = margin shorthand */
    transition: transform .2s ease;
    min-height: 100%;
    /* max-width: 30%; */
    cursor: pointer;
    margin-bottom: 7%;
}

.project img{
    margin-top: 5px;
    /* height: 100%; */
    max-width: 80%;
}

.project-image{
    height: 161px;
    width: 100%;
}

.project a {
    text-decoration: none;
    /* color: #4257BD; */
    margin-bottom: 3%;
    font-weight: 500;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    justify-content: center
}

.project p {
    font-size: .9rem;
    font-weight: 500
}
.project img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}
.project .card {
    background-color: #f0f8ff;
    padding: 8% 6%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    box-shadow: 0 8px 16px -6px rgba(0, 0, 0, .15), 0 -8px 12px -6px hsla(0, 0%, 100%, .3);
    display: none;
}
.project:hover {
    transform: scale(1.02)
}

#projects .project:hover a {
    transform: scale(1.02)
}

.project-desc{
    color: #212529;
}
.project-title{
    font-size: 1rem;
}

.btn-border{
    background: #4257BD;
    color: #fff!important;
    padding: 5px;
    border-radius: 45px;
}
.btn-border:hover{
    color: #4257BD!important;
    border: solid 1px #4257BD;
    background: #fff;

}
/* .white-text{
    color: #fff;
}
.project-specs-btn{
    background: #4257BD;
    padding: 5px;
    border-radius: 10%;
} */

/* Isha project end */

/* Projects section end */
/* Skills start */
.my-skills {
    position: relative
}

.my-skills .progress {
    height: 12px;
    border-radius: 50px;
    background-color: #efefef;
    overflow: visible
}

.my-skills .skill {
    margin-top: 2rem
}

.my-skills .skill h5 {
    color: #7c7c7c;
    font-size: .8rem
}

@media(min-width:768px) {
    .my-skills .skill h5 {
        font-size: 1rem
    }
}

.my-skills .progress-bar {
    background: #4257BD;
    border-radius: 50px;
    position: relative
}

.my-skills .progress-bar span {
    position: absolute;
    top: -40px;
    left: 95%;
    background: #7c7c7c;
    padding: 3px;
    font-family: Montesrrat, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: .6rem
}

@media(min-width:768px) {
    .my-skills .progress-bar span {
        font-size: .7rem
    }
}

.my-skills .progress-bar span:before {
    content: "";
    border-top: 8px solid #7c7c7c;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 30px;
    left: 34%
}

.my-skills #my-skills-tabs {
    margin-top: 3rem
}

.my-skills #my-skills-tabs ul, .my-skills #my-skills-tabs ul .skill-tab {
    color: #4257BD!important;
    text-decoration: none;
    padding: 1rem
}

.my-skills #my-skills-tabs li.r-tabs-state-active a {
    color: #fff!important;
    background: #4257BD;
    padding: 1rem
}

.my-skills #my-skills-tabs .r-tabs-anchor {
    color: #4257BD!important;
    text-decoration: none
}

.my-skills #my-skills-tabs .r-tabs-state-active a {
    color: #7c7c7c!important;
    border-left: 3px solid #4257BD;
    border-right: 3px solid #4257BD;
    padding: 0 5px
}

.my-skills #my-skills-tabs .r-tabs-accordion-title {
    padding: 1rem
}

.my-skills #my-skills-tabs [id*=skill-tab-] {
    border: 3px solid #4257BD;
    margin: -.1rem 1rem
}

.my-skills .circle-6 {
    position: absolute;
    bottom: 0;
    right: 0
}

@media(min-width:768px) {
    .my-skills .circle-6 {
        bottom: 5%;
        left: 1%;
        width: 10rem;
        height: 10rem
    }
    .my-skills .circle-6 .circle-filled {
        width: 8.5rem;
        height: 8.5rem
    }
}

.my-skills .encircle {
    position: absolute;
    top: 0;
    right: 10%
}

@media(min-width:768px) {
    .my-skills .encircle {
        top: 0;
        right: 10%
    }
}

.my-skills .cross-4 {
    top: 10%;
    left: 2%
}

@media(min-width:768px) {
    .my-skills .cross-4 {
        top: 10%;
        left: 23%
    }
}

.heading{
    text-align: center;
}
/* Skills edn */

/* Education section */

#education .custom-border {
    max-width: 100px
}


#education {
    text-align: center;
    /* color: #666 */
}

#education .container {
    position: relative;
    margin-top: 4.5%
}

#education .card {
    display: flex;
    justify-content: center;
    border: .01rem solid rgba(0, 0, 0, .1);
    margin: 1rem;
    padding: 1.5rem;
    transition: transform .2s;
    box-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #ccc, 4px 4px 0 #ccc, 5px 5px 0 #ccc, 6px 6px 0 #ccc
}

@media(min-width:768px) {
    #education .card {
        margin-left: -2%;
        width: 100%;
        height: 230px
    }
}

@media(min-width:992px) {
    #education .card {
        width: inherit;
        margin-left: 0;
        height: 230px
    }
}

@media(min-width:1200px) {
    #education .card {
        height: 200px
    }
}

#education .card:hover {
    transform: scale(1.1)
}

#education .name {
    font-size: 1.1rem !important;
    color: #4257BD;
    /* color: white; */
}

#education .year {
    font-size: .8rem;
    font-weight: 500;
    color: #888
}

#education .description {
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: 400
}

#education .marks {
    margin: 1rem 1rem 0;
    font-size: .9rem;
    font-weight: 700
}

#education .trans--grow {
    transition: width 2s ease-out;
    width: 100%;
}

#education .grow {
    width: 100%
}

#education .hr1 {
    margin-left: 0
}

#education hr {
    position: absolute;
    top: 50%;
    padding: 2px 0;
    border: none;
    background: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
}

/* End of education section */

/* Contact Me section */

#contact {
    /* color: #666; */
    padding-top: 5%;
    margin-top: 6%;
    position: relative;
    margin-bottom: 0!important
}

#contact .highlight {
    display: none;
    color: #4257BD;
    font-weight: 600;
    text-align: center
}

@media(min-width:768px) {
    #contact .highlight {
        display: block
    }
    #contact .mobile-highlight {
        display: none
    }
}

.phone-email {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    margin: 7% auto
}

.phone-email i {
    color: #4257BD;
    font-size: 1.1rem
}

.phone-email .email {
    margin: 0 1%
}

.phone-email .phone {
    margin: 0 1% 0 3%
}

@media(min-width:768px) {
    .phone-email {
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        margin: 2% auto 5%
    }
    .phone-email i {
        font-size: 1.8rem
    }
    .email {
        margin: 0 1% 0 3%
    }
    .phone {
        margin: 0 1%
    }
}

.mobile-highlight {
    color: #4257BD;
    font-weight: 600;
    text-align: center
}

/* #tempName, input[type=email], input[type=text], textarea {
    border: 0;
    max-width: 80%;
    color: #666;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%
} */

@media(min-width:992px) {
    #tempName {
        max-width: 50%
    }
}

@media(min-width:992px) {
    .c-form {
        margin-left: 25%;
        margin-right: 25%;
    }
    
}

textarea {
    margin-bottom: 5px;
    min-height: 150px
}

.submit-button {
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, .5);
    border: 2px solid transparent;
    background-image: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: inset 2px 1000px 1px #fff;
    padding: .7rem;
    margin: 1rem 1rem 1.3rem 0;
    text-decoration: none;
    /* color: #666; */
    font-size: .7rem;
    transition: all .5s
}

@media(min-width:768px) {
    .submit-button {
        padding: .8 .7rem;
        margin: .7rem .7rem .7rem 0
    }
}

@media(min-width:992px) {
    .submit-button {
        padding: 1rem 1.2rem;
        margin: 1rem 1rem 1rem 0
    }
}

@media(min-width:1200px) {
    .submit-button {
        padding: .4rem .7rem;
        margin: 1% 0 8% 40%
    }
}

.submit-button:hover {
    color: #000!important;
    box-shadow: none
}

.blue-box{
    background: #4257BD;
    width: 100%;
    height: 30px;
}

svg {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-35%);
    /* margin-top: 100px; */
}

@media(min-width:768px) {
    svg {
        transform: translateY(0)
    }
}

/* Isha copy [contact me]*/

.contact-me .email, .contact-me .phone {
    display: flex;
    justify-content: center
}

.contact-me .email i, .contact-me .phone i {
    padding: .4rem 1rem
}

.contact-me .email span, .contact-me .phone span {
    padding: .8rem 1.2rem;
    color: #7c7c7c
}

@media(min-width:768px) {
    .contact-me .email, .contact-me .phone {
        justify-content: flex-end
    }
}

@media(min-width:768px) {
    .contact-me .email {
        justify-content: flex-start
    }
}

.contact-me .my-container {
    width: 90%
}

@media(min-width:768px) {
    .contact-me .my-container {
        width: 70%
    }
}

.contact-me {
    color: #4257BD
}

.contact-me .form-control:focus {
    border-color: #4257BD;
    box-shadow: inset 0 1px 1px rgba(253, 179, 9, .6), 0 0 6px rgba(253, 179, 9, .3)
}

#textarea {
    resize: none;
    
}

#contact-form{
    margin: 0 auto;
}

.svgcolor-light{
    position: relative;
}
/* Isha copy end of conatct me */

/* End of contact me section */

.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 22px;
    display: none;
    z-index: 9999;
    padding: 0;
    padding-left: 7px;
    padding-right: 7px;
    margin: 0;
}

.modal-btn{
    background: #4257BD;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-border{
    max-width: 68px;
}

/* Owl */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0)
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0)
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.cover-image{
    width: 100%;
}
.description{
    margin-top: 15px;
}
/* Owl end */

/* Footer section begin */
.footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    color: #333;
    /* background: #000; */
    border-top: 1px solid #4257BD
}

/* Footer section end */

/* Shapes */
.cross {
    width: 50px;
    display: flex;
    justify-content: center
}

.cross, .cross .stick {
    height: 50px;
    position: absolute
}

.cross .stick {
    width: 5px;
    background: #4257BD;
    border-radius: 2px;
    opacity: .3
}

.cross .stick1 {
    transform: rotate(-45deg)
}

.cross .stick2 {
    transform: rotate(45deg)
}

.myrotate {
    -webkit-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite
}
@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}
/* End shapes */

/*Exprience Section*/
.internship-company{
    /* height: 80px; */
    /* width: 80px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* height: 50%; */
    /* width: 50%; */
}

.internship-company-jolly{
    height: 80px;
    /* width: 80px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;    
}
/*End of experience section*/

.wow {
    visibility: hidden;
 }