
/*

*/

body{
  height: 100vh; 
  width: 100%; 
}
#preloader{
  height: inherit;
  position: relative;
}

section.loader {
    font-family: Consolas, monaco, monospace;
    /* position:absolute; */
    top:0; left:0; right:0; bottom:0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /* background-color:#000; */
    /* background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(aryan_code_dp1.PNG);100%/cover */
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(assets/thumbnail-1.png) 50%/cover;
    height: inherit;
    
    color:#78E4ff;
    /* color:#0f0326; */
  }

  @media(max-width:768px) {
    #preloder-heading {
        font-size: 2rem;
    }
  }

  @media(max-width:992px) {
    #preloder-heading {
        /* display: none; */
    }
  }

  
  
  
  
  /* animation starts here */
  .dots .dot {
    position:relative;
    top:0; left:0; 
  }
  
  .dot._dot-1 {
    animation:dot_1 1s ease-in-out infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
  }
  
  .dot._dot-2 {
    animation:dot_2 1s ease-in-out infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-delay:1s;
  }
  
  .dot._dot-3 {
    animation:dot_3 1s ease-in-out infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-delay:0.5s;
  }
  
  
  @keyframes dot_1 {
    0% {
      top:0;
      left:0;
    }
    
    50% {
      top:60px;
      left:40px;
    }
    
    100% {
      top:0px;
      left:80px;
    }
  }
  
  
  @keyframes dot_2 {
    0% {
      top:0;
      left:0;
    }
    
    50% {
      top:-60px;
      left:80px;
    }
    
    100% {
      top:0px;
      left:160px;
    }
  }
  
  
  @keyframes dot_3 {
    0% {
      top:0;
      left:0;
    }
    
    50% {
      top:-60px;
      left:-160px;
    }
    
    100% {
      top:0px;
      left:-240px;
    }
  }
  
  .big-preloder-heading{
    font-size: 50px;
  }
  
  
  /*  */
  .circle-dot{
    font-size: 9.4rem!important;
    transform: scale(0.7);
  }

  .move-up{
    animation: mymove 1s;

  }

  @keyframes mymove {
    0%   {top: 0;}
    /* 25%  {top: 50%;}
    75%  {top: 25%;} */
    100% {top: -100%;}
  }
  
  .tp{
    background: linear-gradient(120deg, #78e4ffff, #3ca3ffff, #0061ffff);
    /* background: linear-gradient(270deg, #9eb7e5ff, #648de5ff, #304c89ff); */
    /* background: linear-gradient(270deg,#78e4ffff, #3ca3ffff, #0061ffff, #9eb7e5ff, #648de5ff, #304c89ff);     */
  }
  .char:nth-child(1){
    margin-right: 30px;
  }
  .char:last-child{
    margin-left: 54px;
  }